html {
  /*overflow: hidden;*/
  height: 100%;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

video {
  width: 1920px;
  height: 1080px;
}
section.select,button {
    appearance: none;
    -webkit-appearance: none;
    background: #031d1b;
    color: white;
    padding: 13px;
    border-radius: 4px;
    margin: 3px;
    display: inline-block;
    border: none;
}

video {
    border: 3px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    height: 80vh;
    display: block;
    max-width: 100%;
    margin: 0px auto;
}

body {
    background: linear-gradient(45deg, #2b4b5c, #0f4534);
    min-height: 100vh;
    position: relative;
}
p{
  color:white;
  font-size:20px;
  background: #1b262f;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  
}
